/* .carousel{
  height: 100px;
  margin:auto;
} */

/* .carousel .item {
  height: 50%;
} */

/* .carousel img {
  /* position: absolute; */
  /* width: 100%;
} */

/* @media (min-width: 320px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:200px;
  }
}

@media (min-width: 768px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:400px;
  } */
/* } */

/* カルーセル */
.navbar{
  /* トップメニュー下のマージンを除去 */
  margin-bottom: 0;
}

.carousel-inner img{
  width: 100%;
}

.carousel-caption{
  text-align: right;
  /* Bootstrapぽくて、バタ臭いので消す */
  text-shadow: none;
}